{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'core/bootstrap/dist/css/bootstrap.min.css' %}" />
  {% block title %}
  {% endblock %}
</head>
<body class="overflow-x-hidden">
  {% block bodyContent %}
  {% endblock %}

  <footer class="bg-primary text-center py-3 text-light px-2">
    &copy; Unique Creators. All rights reserved
  </footer>

  <script src="{% static 'core/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>